[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

/* start */
.padding {
    padding: 1.7em 10%;
}

.top {
    background-color: #161616;
    color: #dcdcdc;

    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.cont__about {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.log {
    display: flex;
    gap: 1em;
}

.log span:first-child {
    margin-right: 2em;
}

/* Menu */

.menu {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ebe5e5;
    border-bottom: 1px solid #ebe5e5;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 3em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
}

.menu ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.menu li {
    position: relative;
    transition: .4s all;
}

.menu ul li i {
    font-size: 0.9rem;
    margin-left: 0.5em;
}
.menu ul li span {
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -0.8em;
    border-radius: 10px;
    background-color: #19bc9c;
}

.menu ul li:hover span {
    content: "";
    position: absolute;
    width: 110%;
    align-self: flex-start;
    transition: 0.4s all;
}

.menu ul~i {
    font-size: 1.3rem;
}

/* section1 */

.section1 .images {
    display: grid;
    grid-template-columns: 1.2fr 0.7fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.section1 .images > div {
    height: 200px;
}
.section1 .images >div:hover{
    background-image: scale(1.2);
}

.section1 .images>div:first-child {
    height: auto;
    grid-row: 1/3;
}

.section1 .images>div:nth-child(1) {
    background-image: url(/news/newsapp/static/newsapp/images/img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 .images>div:nth-child(2) {
    background-image: url(/news/newsapp/static/newsapp/images/img-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 .images>div:nth-child(3) {
    background-image: url(/news/newsapp/static/newsapp/images/img-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 .images>div:nth-child(4) {
    background-image: url(/news/newsapp/static/newsapp/images/img-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 .images>div:nth-child(5) {
    background-image: url(/news/newsapp/static/newsapp/images/img-5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 .images>div {
    position: relative;
}

.section1 .images .tag {
    position: absolute;
    top: 2em;
    left: 2em;
    color: white;
    background-color: #e44e4e;
    padding: 0.6em;
    letter-spacing: 1px;
    font-size: 0.8rem;
    border-radius: 0.2em;
}

.section1 .images .tema {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.section1 .images .tema h2 {
    color: #fff;
    font-size: 2.5em;
}

.section1 .tema p {
    padding-top: 1em;
    color: #d4d4d4;
    font-size: 1.2rem;
}

.section1 .tema__little {
    position: absolute;
    left: 2em;
    bottom: 1.5em;
}

.section1 .tema__little h4 {
    color: #fff;
    font-size: 1.5rem;
}

.section1 .tema__little p {
    padding-top: 1em;
    color: #d4d4d4;
}
.section1 .tema__little h4:hover, .tema h2:hover{
    text-decoration: underline;
}

/* news */

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding-top: 0;
}
.section2 .breaking__news{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #161616;
    margin-bottom: 1.7em;
}
.section2 .break{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.section2 .breaking__news p:first-child{
    padding: 10px;
    color: #fff;
    background-color: #161616;
}

.section2 img{
    height: 200px;
}
.section2 .breaking__news div:last-child{
    display: flex;
    gap: .6em;
}
.section2 .breaking__news i{
    border: 1px solid #d9d9d9;
    padding: 1em;
    border-radius: .2em;
    font-size: 1.4rem;
    color: #727272;

}
.section2 .break p:first-child{
    margin-right: 1em;
}
.section2 .break p:last-child{
    font-size: 1.4rem;
}
/* news__end */



/* section1-end */